body,
html {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
}
.header_my {
    padding: 0 20px;
    margin: 0;
}
header {
    border-bottom: 1px solid #ecedee;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.custom-header {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    background-color: #ffffff;
    color: #006fcf;
    width: 1200px;
}

.logo {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.links a {
    color: #006fcf;
    text-decoration: none;
}

.actions {
    display: flex;
    align-items: center;
    float: right;
}

.actions input[type="text"] {
    width: 120px;
    height: 30px;
    margin-right: 10px;
}

.actions a:not(#exit) {
    color: #006fcf;
    text-decoration: none;
    margin: 0 10px 0 10px;
    border-bottom: 3px solid #fff;
}

.actions a:not(#exit, .NOTthis):hover {
    padding: 14px 0;
    border-bottom: 3px solid #c8c9c7;
    transition: 0.5s ease;

}

.buttom {
    background-color: #006fcf;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 4px;
}
.buttom_search {
    padding: 12px 16px;
}
.buttom:not(.buttom_anim):hover {
    background-color: #0069c4;
    transition: 0.5s ease;
}
.buttom_anim {
    background-color: #ffffff;
}
.buttom_anim:hover {
    background-color: #f2f2f2;
    transition: 0.5s ease;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #0069c4;
    width: 1200px;
    margin: auto;
}
.container img {
    width: 48px;
}

.containerUP {
    margin-top: 40px;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
.box {
    padding-top: 30px;
    width: 190px;
    height: 120px;
    text-align: center;
    background-color: #ffffff;
}
.box p {
    margin-top: 4px;
    color: #0069c4;
    font-size: 17px;
    font-weight: 500;
}
.box:hover {
    background-color: #f2f2f2;
    transition: 0.5s ease;
}
.Welcome {
    width: 840px;
    height: 40px;
    border-bottom: 1px solid #ffffff;
    margin-top: 26px;
    text-align: center;
}
.Welcome p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.containerDOWN {
    height: 30px;
    border-radius: 0 0 10px 10px;
}
.boxROUNDleft {
    border-radius: 10px 0 0 10px;
}
.boxROUNDleft {
    border-radius: 10px 0 0 10px;
}
.boxROUNDright {
    border-radius: 0 10px 10px 0;
}
.box:not(.boxROUNDright) {
    border-right: 1px solid #0069c4;
}
/* FOOD */
.only_food {
    display: flex;
    justify-content: space-evenly;
}
.container_food {
    border-radius: 10px;
    width: 400px;
    height: 404px;
    overflow: hidden;
    position: relative;
}

.image_food {
    float: left;
    width: 100%;
    height: 218px;
    background-color: #ccc;
}

.text_food {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    clear: both;
    height: 186px;
    background-color: #fff;
}
.button_food {
    border-radius: 10px;
    font-size: 16px;
    color: #0069c4;
    border: 1px solid #0069c4;
    background: #fff;
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 20px;
    right: 50%;
    height: 40px; /* Задає висоту кнопки */
}
/* ------------------------------------ */
/* SECTION */
#index_section {
    width: 1280px;
    margin: auto;
    padding-top: 86px;
}
.section_box_1 {
    background-color: #ecedee;
    padding-top: 4px;
    padding-bottom: 20px;
    border-radius: 10px;
}
/* ------------------------------------ */

.otstup {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.otstup h1 {
    font-weight: 600;
}

/* BOX_328 */
.box_328 {
    border-radius: 10px;
    margin-top: 20px;
    height: 328px;
    background-image: url("img/ws-bg-light-grey.png");
    display: flex;
    justify-content: space-evenly;
}
.container_328 {
    margin-top: 24px;
    border-radius: 10px;
    width: 400px;
    height: 268px;
    position: relative;
    background-color: #ffffff;
}
.text_328 {
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    height: 186px;
    text-align: center;
}
.text_328 img {
    width: 50px;
}
.name_328 {
    font-size: 17px;
    margin: 15px;
    font-weight: 600;
}
.not_b {
    font-weight: 300;
}
.buttom_328 {
    background-color: #0069c4;
    color: #fff;
}
/* FOOTER */
footer {
    margin-top: 20px;
}
.footer_240 {
    margin-top: 100px;
    width: 1280px;
    margin: auto;
    border-top: 1px solid #ecedee;
    height: 300px;
    padding: 20px;
}
.image_container_footer {
    display: flex;
    margin-top: 30px;
}
.image_container_footer img {
    margin-right: 10px;
    width: 40px;
}
.footer_other {
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer_end {
    margin-top: 20px;
}
.start_img {
    width: 1240px;
    margin: auto;
    z-index: 1;
}
/* CREDIT_CARD */
#card_box_first {
    margin-top: 60px;
}
.card_box {
    width: 1136px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.card_box_left {
    width: 232px;
    height: 500px;
    padding: 20px 0 20px 20px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
}
.card_box_center {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    width: 100px;

}
.card_box_right {
    width: 400px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #c8c9c7;
    padding: 20px;
}
#card_section {
    background-color: #f7f8f9;
    padding-bottom: 100px;
    padding-top: 40px;
}
.credit_img {
    width: 212px;
    height: 134px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}
.credit_img:hover{
    opacity: 0.90;
}

.buttom_card {
    border-radius: 6px;
    font-size: 16px;
    color: #0069c4;
    border: 1px solid #0069c4;
    background: #fff;
    width: 212px;
    height: 52px;
    margin-bottom: 10px;
}
.buttom_card_2 {
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #006fcf;
    background: #006fcf;
    width: 212px;
    height: 52px;
    margin-bottom: 10px;
    /* #0069c4 */
}
.name_card {
    font-weight: 700;
    font-size: 16px;
    color: #00175a;
}
.name_card_2 {
    font-size: 13px;
    color: #00175a;
}
.name_card_3 {
    font-size: 16px;
    padding-bottom: 20px;
    color: #00175a;
}
.name_card_content {
    width: 100%;
    background-color: #f7f8f9;
    padding: 20px;
    border-radius: 5px;
}
.name_card_content h1 {
    color: #00175a;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 40px;
}
.name_card_content p {
    font-size: 16px;
}
.card_box_right_content {
    display: flex;
    padding-top: 20px;
}
.card_box_right_content_div_img {
    width: 40px;
}
.card_box_right_content_div {
    padding-left: 10px;
    width: 100%;
}
.display_flex {
    display: flex;
}
.special_offer {
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    width: 220px;
    text-align: center;
    font-weight: 600;
    color: #0069c4;
    border: 2px solid #0069c4;
    margin-bottom: 20px;
}
.divider {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.height680 {
    height: 780px;
}
.height640 {
    height: 740px;
}
.border_yellow {
    border-left: 5px solid #fdc042;
}
.add_self {
    border-radius: 10px;
    background-color: #fff;
}
.add_self_style {
    height: 38px;
    background-color: #fdb92d;
    font-weight: 600;
    padding: 8px 20px 0 30px;
    width: 320px;
    border-radius: 20px 0 100px 0;
}
.search_open {
    width: 20px;
    margin-bottom: 2px;
}

/* Login.html */

.section_background {
    background-color: #ecedee;
    padding-top: 60px;
}
.Login_error {
    height: 40px;
}
.margin_top_20px {
    margin-top: 20px;
}
.Box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login2 {
    width: 360px;
    height: 50px;
    border-radius: 6px;
    background-color: #006fcf;
    border: 2px solid #006fcf;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto";
}
.Login2:hover {
    background-color: #1068a5;
    border: 2px solid #1068a5;
    transition: 0.5s ease;
}
.Login2_text {
    margin-top: 3px;
    color: #fff;
}
.login_box {
    padding: 0 20px 20px 20px;
    margin: auto;
    width: 400px;
    background-color: #fff;
}
/* Bonus */

.bonux_h1 {
    color: #00175a;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 40px;
}

.container_rozdil {
    height: 62px;
    width: 100%;
    background-color: #006fcf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_rozdil div {
    font-size: 15px;
    margin: 0 30px;
    color: white;
}
.bonus_container_card {
    width: 387px;
    height: 363px;
    background: white;
    text-align: center;
}

.bonus_img_card {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.bonus_img_card img {
    width: 244px;
}

.bonus_text-block {
    margin-top: 20px;
}

.bonus_text-block:first-child {
    margin-bottom: 30px;
}

.bonus_text-block.special {
    color: #006fcf;
}
.bonus_all_container {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
    margin-top: 100px;
}
.bonus_all_container > .bonus_container_card {
    margin: 0 20px;
}
.bonus_center_button {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.bonus_img_top {
    margin: auto;
    width: 1200px;
    padding: 60px 0;
}
.bonus_img_top img {
    width: 550px;
    margin-right: 14px;
}
.bonus_img_top div {
    margin-left: 14px;
}
.fff {
    background-color: #ffffff;
}
.bonus_img_buttom {
    margin: auto;
    width: 1200px;
    padding: 100px 0;
}
.bonus_img_buttom div {
    margin-right: 14px;
}
.bonus_img_buttom img {
    width: 550px;
    margin-left: 14px;
}
.h1_bonus {
    padding-top: 40px;
    text-align: center;
}
.bonus_end_4div {
    display: flex;
    justify-content: center;
    background-color: white;
}

.bonus_end_4div>div {
    width: 285px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.bonus_end_content {
    text-align: center;
    padding: 60px 20px 20px 20px;
}

.bonus_end_4div img {
    width: 50px;
    height: 50px;
}

.h2_stoop {
    margin-top: 20px;
    margin-bottom: 12px;
}
/* HELP */
.help_container {
    width: 1004px;
    padding: 20px;
    margin: 40px auto;
    background-color: #f7f8f9;
    border-radius: 10px;
    
}

.help_container >h1 {
    margin: 30px;
    text-align: center;
}

.help_input {
    width: 520px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
    border: 1px solid #8e9092;
    transition: 0.5s ease;
    padding-left: 20px;
}

.help_input:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid #0069c4;
    padding-left: 40px;
    width: 920px;
    transition: 0.5s;

}

.help_sub-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.help_sub-container div {
    width: calc(25% - 20px);
    background-color: #ffffff;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    border-radius: 10px;
    

}
.help_sub-container div:hover{
    background-color: #fdfdfd;
    transition: 0.5s ease;
}

.help_sub-container img {
    width: 48px;
    height: 48px;
}
.help_container_2 {
    width: 1004px;
    padding: 20px;
    margin: 40px auto;
    background-color: #f7f8f9;
    border-radius: 10px;

  }

  .help_text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .help_text_2 {
    font-size: 15px;
  }
  .help_text_2 a:hover{
    color: #004b8d;
    transition: 0.5s ease;
  }
  .help_otstup{
    padding-bottom: 10px;
  }

  /* Travel */

  .travel_container_2 {
    width: 1004px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    color: #53565A;
}

.travel_text {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 600;
}

.travel_text_2 {
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: 600;
}

.travel_text_3 {
    font-size: 12px;

}

.travel_text_3 a:hover {
    color: #0069c4;
    font-size: medium;
    transition: 0.5s ease;
}
.user_box{
    width: 1200px;
    background-color: #fff;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;

}
.user_article{
    width: 300px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.user_article img{
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}
.user_article h1{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.user_card{
    width: 270px;

}
.user_card:not(#asd){
    margin-right: 20px;
}
.user_card_container{
    padding: 20px;
}
.user_card_container h1{    
    text-align: center;
    margin-bottom: 20px;
}
.user_top{
    margin-top: 20px;
}
.usersss{
    padding-bottom: 40px;
}